.intro {
    width: 100%;
    height: auto;
    background: url(../img/intro/bg.png) center no-repeat;
    background-size: cover;
    position: relative;
  }
  hr{
    position: absolute;
    top: 74px;
    width: 100%;
    max-width: 1170px;
    border: 1px solid #babbc5;
  }
  .intro_title {
    text-align: center;
    padding-top: 270px;
  }
  .intro_title h1 {
    font-family: Raleway;
    font-size: 64px;
    font-weight: 900;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 35px;
  }
  .intro_title p {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding-bottom: 75px;
  }
  button {
    width: 40%;
    max-width: 370px;
    height: 78px;
    background-color: #ff4343;
    color: #ffffff;
    font-size: 24px;
    font-family: Raleway;
    font-weight: 900;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  button:hover {
    background-color: #e71414;
  }
  button:active {
    box-shadow: 4px 4px 30px 0px #ff4343;
  }
  @media (max-width: 1100px) {
    .intro_title h1 {
      font-size: 48px;
    }
    .intro_title p {
      font-size: 18px;
    }
    button {
      width: 50%;
      max-width: 310px;
    }
  }
  @media (max-width: 770px) {
    button {
      width: 280px;
      margin-bottom: 30px;
    }
    .intro_title {
      padding-top: 200px;
    }
  }
  @media (max-width: 770px) {
  
 
    .intro_title h1 {
      font-size:36px;
    }
    .intro_title p {
      font-size: 14px;
    }
    button {
      height: 60px;
    }
  }