body {
  margin: 0;
  font-family: "Cardo", serif;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/*header*/

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 50%;
  max-width: 300px;
  padding-left: 20px;
}
.nav {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}
.nav1 {
  display: none;
  padding: 0 35px  ;
}
.nav1__lincs {
  display: none;
}
.nav1:hover {
  cursor: pointer;
}

.nav1:active .nav1__lincs {
  display: block;
}

.nav1:active .intro_title {
  display: none;
}

@media (max-width: 1100px) {
  .nav {
    font-size: 12px;
  }
}
@media (max-width: 770px) {
  .nav {
    display: none;
  }
  .nav1 {
    display: block;
  }
  .logo {
    width: 80%;
}
}
.nav_link {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 18%;
  max-width: 134px;
  min-width: 85px;
  position: relative;
  
}
.nav_link::after {
  content: "";
  display: none;
  width: 100%;
  height: 3px;
  background-color: #babbc5;
  position: absolute;
  top: 35px;
  left: 0;
}

.nav_link:hover:after {
  display: block;
}
.nav_link:active {
  color: #e71414;
}
.nav_link:active:after {
  background-color: #e71414;
}

/*Intro*/
.intro {
  width: 100%;
  height: 100vh;
  background: url(../img/intro/bg.png) center no-repeat;
  background-size: cover;
  position: relative;
}
hr{
  position: absolute;
  top: 74px;
  width: 100%;
  max-width: 1170px;
  border: 1px solid #babbc5;
}
.intro_title {
  text-align: center;
  padding-top: 270px;
}
.intro_title h1 {
  font-family: Raleway;
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 35px;
}
.intro_title p {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding-bottom: 75px;
}
button {
  width: 40%;
  max-width: 370px;
  height: 78px;
  background-color: #ff4343;
  color: #ffffff;
  font-size: 24px;
  font-family: Raleway;
  font-weight: 900;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  background-color: #e71414;
}
button:active {
  box-shadow: 4px 4px 30px 0px #ff4343;
}
@media (max-width: 1100px) {
  .intro_title h1 {
    font-size: 48px;
  }
  .intro_title p {
    font-size: 18px;
  }
  button {
    width: 50%;
    max-width: 310px;
  }
}
@media (max-width: 770px) {
  button {
    width: 280px;
    margin-bottom: 30px;
  }
  .intro_title {
    padding-top: 200px;
  }
}
@media (max-width: 770px) {

  .intro_title {
    padding: 180px 2px 0;
  }
  .intro {
    height: auto;
  }
}
/* CARDS */
.cards {
  margin: 130px auto 0;
}

.cards_line {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 31%;
  max-width: 350px;
}
.card_img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 30%;
}
.card_img img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.card_title {
  font-size: 24px;
  width: 100%;
  margin: 45px 0 30px;
  text-transform: uppercase;
}
.card_text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px 15px 100px;
}
@media (max-width: 1100px) {
  .card_title {
    font-size: 18px;
  }
  .card_text {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  .cards_line {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .card {
    width: 80%;
  }
}
/* Foto*/
.foto_line {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.foto {
  width: 25%;
  height: auto;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  position: relative;
}

.foto:nth-child(4),
.foto:nth-child(8) {
  border-right: none;
}

.foto img {
  width: 100%;
  height: 100%;
}
.foto_fon {
  z-index: 2;
}
.hov {
  position: relative;
}
.foto_hov {
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  z-index: 5;
  display: none;
}
.foto_line .foto:hover .foto_hov {
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
}
.foto_line .foto:active .foto_fon1 {
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
}
.foto_fon1 {
  position: absolute;
  text-align: left;
  z-index: 3;
  display: none;
  top: 0;
}

.foto_line .foto:active .foto_fon {
  display: none;
}

.text_hov {
  position: absolute;
  top: 45%;
  left: 8%;
  text-align: center;
  z-index: 7;
  width: 80%;
}

.pr_name {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0em;
  color: #ffffff;
}
.pr_subname {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #ffffff;
  padding-top: 20px;
}
@media (max-width: 1100px) {
  .pr_name {
    font-size: 18px;
  }
  .pr_subname {
    font-size: 14px;
  }
}
@media (max-width: 770px) {
  .foto {
    width: 50%;
  }
.foto:nth-child(even)  {
  border-right: none;
}
}
@media (max-width: 550px) {
  .pr_name {
    font-size: 14px;
  }
  .pr_subname {
    font-size: 10px;
  }
}
/* people*/
.workers {
  margin: 114px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.worker {
  width: 25%;
  max-width: 270px;
  height: auto;
}
.worker__foto img {
  width: 100%;
}
.worker__name {
  padding-top: 30px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #2d3033;
}
.worker__speciality {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff4343;
  text-transform: uppercase;
  padding-top: 5px;
}
.worker__text {
  padding-top: 20px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #6c7279;
}

.worker__messengers {
  padding: 35px 0;
}
@media (max-width: 1100px) {
  .worker__name {
    font-size: 18px;
  }
  .worker__speciality,
  .worker__text {
    font-size: 14px;
  }
}
@media (max-width: 770px) {
  .workers {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 114px 0 30px;
  }
  .worker {
    width: 50%;
  }
}
@media (max-width: 550px) {
  .worker {
    width: 100%;
  }
}
/*slider*/
.slider__content {
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 100%;
}
.slider__element {
  width: 50%;
}
.slider__element img {
  width: 100%;
  height: 100%;
}
.slider__speach {
  background: #5c3249;
}

.slider__speach_text {
  padding: 15%;
}

.slider__speach_text h2 {
  font-family: Cardo;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 49px;
  color: #ffffff;
}
.slider__speach_text h6 {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  color: #ffffff;
  padding-top: 5px;
}

.slids {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.slid {
  padding: 0 15px;
  width: 5%;
  max-width: 45px;
  min-width: 40px;
}
.slid img {
  width: 100%;
}
.slid_activ {
  display: none;
}
.slid:hover .slid_activ {
  display: block;
}
.slid:hover .slid_normal {
  display: none;
}

@media (max-width: 1100px) {
  .slider__speach_text h2 {
    font-size: 24px;
  }
  .slider__speach_text h6 {
    font-style: 12px;
  }
}
@media (max-width: 900px) {
  .slider__speach_text h2 {
    font-size: 18px;
  }
}
@media (max-width: 770px) {
  .slider__content {
    flex-wrap: wrap;
  }
  .slider__element {
    width: 100%;
  }
  .slider__speach_text {
    position: relative;
    padding: 60px 30px;
  }
}
/*downald*/
.downald__content {
  text-align: center;
  margin: 115px 0;
}

.downald__content h3 {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.downald__content h5 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  padding-top: 15px;
  padding-bottom: 50px;
}
@media (max-width: 1100px) {
  .downald__content h3 {
    font-size: 24px;
  }
  .downald__content h5 {
    font-size: 14px;
  }
}
@media (max-width: 770px) {
  .downald__content h3 {
    font-size: 18px;
  }
  .downald__content h5 {
    font-size: 13px;
  }
}
/*footer*/
footer {
  background-color: #353c65;
}
.footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 40px 0 70px;
  font-size: 18px;
  text-transform: uppercase;
}

.footer__element {
  padding-top: 30px;
  flex-basis: 33%;
}

.footer__element a {
  text-decoration: none;
}
.footer__element a h5 {
  font-family: Raleway;

  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}
.footer__element h5 {
  font-family: Raleway;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}
.massengers {
  padding: 20px;
}
.massengers a {
  padding: 0 3px;
}
.sub-footer {
  background-color: #2c3154;
  text-align: center;
  padding: 25px 0;
}
.sub-footer p {
  margin: 0 auto;
  width: 80%;
  max-width: 370px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 21px;
  color: #808080;
}
.sub-footer span {
  color: #ffffff;
}
@media (max-width: 1100px) {
  .footer {
    font-size: 14px;
  }
}
@media (max-width: 570px) {
  .footer {
    flex-direction: column;
  }
  .footer__element4 {
    order: 2;
  }
  .footer__element3 {
    order: 5;
  }
  .footer__element2 {
    order: 3;
  }
  .footer__element5 {
    order: 4;
  }
  .footer__element6 {
    order: 6;
  }
}
